<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Masha Zabara - Cellist, Performer, Creator</title>
    <meta name="Description" content="Award-winning cellist, combining classical and pop music with electronic looping">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="<%= htmlWebpackPlugin.options.publicPath %>favicon/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= htmlWebpackPlugin.options.publicPath %>favicon/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= htmlWebpackPlugin.options.publicPath %>favicon/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= htmlWebpackPlugin.options.publicPath %>favicon/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="<%= htmlWebpackPlugin.options.publicPath %>favicon/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="<%= htmlWebpackPlugin.options.publicPath %>favicon/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="<%= htmlWebpackPlugin.options.publicPath %>favicon/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="<%= htmlWebpackPlugin.options.publicPath %>favicon/favicon-16x16.png" sizes="16x16" />
</head>
<body>
	<div class="navbar navbar--hidden"></div>
	<div class="content content--home">
		<div class="page-title">
			<span class="page-title--firstname">Masha</span><br>
			<span class="page-title--lastname">Zabara</span>
		</div>
		<div class="page-title--description">
			<p class="description-line">Cellist<span class="translation">/віяланчэліст</span></p>
			<p class="description-line">Performer<span class="translation">/выканаўца</span></p>
			<p class="description-line">Creator<span class="translation">/стваральнік</span></p>
		</div>
		<div class="home-buttons">
			<button type="button" class="home-button home-button--ghost home-button--watch">Watch</button>
			<button type="button" class="home-button home-button--book">Book</button>
		</div>
	</div>
	<div class="content content--bio">
		<h1 class="content__title">Biography</h1>
		<div class="bio">
			<div class="bio__column bio__column--first">
				<p class="bio__column__p">Originally from Belarus, at twenty years old Masha is an award-winning cellist who has played individually, with groups of musicians and multiple orchestras throughout Europe and the United States. Masha started her performing career at the "Stagorsky Music Festival," followed by collaborating with Minsk Philharmonic Orchestra for three solo performances in the consecutive years.</p>
				<p class="bio__column__p">From the Republican Music College (Minsk, Class of I. Stepanova) and the Tchaikovsky Music Academy (Moscow, Class of O. Galochkina), Masha has been invited to study in the United States with Tanya Remenikova, an internationally renowned cellist and professor at the University of Minnesota. In three years, she has performed in five states, played with Minnesota Sinfonia Orchestra, and became a laureate of nine competitions.</p>
			</div>
			<div class="bio__column bio__column--second">
				<p class="bio__column__p">Masha’s performance at Jordan Hall (Boston, MA) and interview have been featured on the NPR’s From The Top in 2016, followed by a concert in collaboration with Christopher O’Riley in NYC.</p>
				<p class="bio__column__p">Most recently, Masha has developed a unique practice combining classical cello and electronic loop pedal, which allows for an array of different music styles and improvisation. One of the very few classical artists familiar with the technique, she works on scoring films and recording her own compositions. A second generation musician, Masha is currently a principal cellist with the Conservatory at Bard College in Annandale, New York.</p>
				<p class="bio__column__p bio__column__p--endorsement">Masha Zabara plays an O.Glásel violoncello, 1917, generously provided by Carlsen Cello Foundation and Diamond CodaBow, awarded by the Mary West Solo Competition.</p>
			</div>
		</div>
	</div> 

	<div class="content content--npr">
		<p class="npr-quote">&ldquo;So playful, so<br>evocative. Projecting performance!&rdquo; &ndash; NPR</p>
		<p class="npr-link"><a class="external-link" target="_blank" href="https://www.fromthetop.org/musician/mariya-zabara/"><span>Show 318, Boston, MA &ndash; Mariya Zabara, cello</span></a></p>
		<img class="npr-photo" src="<%= htmlWebpackPlugin.options.publicPath %>images/masha-shoulder.jpg" alt="A photo of Masha">
	</div>
	<div class="content content--awards">
		<h1 class="content__title">Awards</h1>
		<ul class="awards-list">
			<li class="awards-list__item">Schubert Club <span class="awards-list__item__year">2015</span></li>
			<li class="awards-list__item">Minnesota Sinfonia <span class="awards-list__item__year">2014</span></li>
			<li class="awards-list__item">La Crosse Symphony Competition <span class="awards-list__item__year">2015</span></li>
			<li class="awards-list__item">YPSCA <span class="awards-list__item__year">2009</span></li>
			<li class="awards-list__item">Heranova Violoncellová Soutěž International <span class="awards-list__item__year">2008</span></li>
			<li class="awards-list__item">Mary West Solo Competition <span class="awards-list__item__year">2015</span></li>
			<li class="awards-list__item">Thursday Musical <span class="awards-list__item__year">2014</span></li>
			<li class="awards-list__item">International Talent Competition <span class="awards-list__item__year">2008</span></li>
			<li class="awards-list__item">Jack Kent Cooke Young Artist Award <span class="awards-list__item__year">2016</span></li>
			<li class="awards-list__item">New York International Artists Competition, 3rd Prize <span class="awards-list__item__year">2016</span></li>
		</ul>
	</div>
	<div class="content content--video">
		<h1 class="content__title">Video</h1>
		<div class="videos">
			<a class="video-item" target="_blank" href="https://www.youtube.com/watch?v=gkYGaafs3EQ">
				<div class="video-thumb video-thumb--popper"></div>
			</a>
			<a class="video-item" target="_blank" href="https://vimeo.com/267441156">
				<div class="video-thumb video-thumb--cellomagic"></div>
			</a>
			<a class="video-item" target="_blank" href="https://www.youtube.com/watch?v=XvUCAa8txXI">
				<div class="video-thumb video-thumb--immigration1"></div>
			</a>
			<a class="video-item" target="_blank" href="https://www.youtube.com/watch?v=0Wn7WSUloGo">
				<div class="video-thumb video-thumb--immigration2"></div>
			</a>
		</div>
	</div>
	<div class="content content--contact">
		<h1 class="content__title">Contact</h1>
		<div class="material-input">
			<input type="text" id="contact-name" class="contact-input" spellcheck="false" required="required">
			<label class="contact-name-label">Name</label>
			<div class="material-input-error">Please enter your name</div>
		</div>
		<div class="material-input">
			<input type="email" id="contact-email" class="contact-input" spellcheck="false" required="required">
			<label class="contact-email-label">Email</label>
			<div class="material-input-error">Please enter your email address</div>
		</div>
		<div class="material-input">
			<textarea id="contact-message" class="contact-textarea" required="required"></textarea>
			<label class="contact-name-label">Message</label>
			<div class="material-input-error">Please add a message</div>
		</div>
		<button type="button" id="contact-submit" class="material-button">
			<span>Send Message</span>
			<div class="spinner">
				<div class="bounce1"></div>
				<div class="bounce2"></div>
				<div class="bounce3"></div>
			</div>
		</button>
		<div class="form-submit-error">There was an error submitting the form, please reach out to <a href="mailto:supersonicandtails@gmail.com">the site administrator</a> directly.</div>
	</div>
</body>
</html>