@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

@font-face {
	font-family: "The Bold Font";
	src: url("fonts/theboldfont.woff2") format("woff2"),
			url("fonts/theboldfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
@keyframes firstname-in {
	from { opacity: 0; transform: translateX(-20px); }
	to { opacity: 1; transform: none; }
}
@keyframes lastname-in {
	from { opacity: 0; transform: translateX(20px); }
	to { opacity: 1; transform: none; }
}
@keyframes basscleff-in {
	from { opacity: 0; transform: translateX(-10px); }
	to { opacity: 1; transform: none; }
}
@keyframes descriptionline-in {
	from { opacity: 0; transform: translateX(-10px); }
	to { opacity: 1; transform: none; }
}
html {
	width: 100%;
}
body {
	margin: 0;
	font-family: Roboto;
	color: #464646;
	display: flex;
	flex-direction: column;
	width: 100%;
}
a {
	color: inherit;
	text-decoration: none;
}
input,
textarea {
	color: inherit;
}
.navbar {
	background: black;
	height: 36px;
	transition: all .5s cubic-bezier(0.215, 0.61, 0.355, 1);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}
.external-link span {
	vertical-align: middle;
}
.external-link::before {
	content: '';
	display: inline-block;
	background-image: url("images/external-link.svg");
	vertical-align: middle;
	height: 1em;
	width: 1em;
	margin-right: .4em;
}
.navbar--hidden {
	opacity: 0;
	height: 0;
	pointer-events: none;
}
.content {
	padding: 0 90px;
	color: #676767;
}
@media screen and (max-width: 880px) {
	.content {
		padding: 0 20px;
	}
}
.content__title {
	font-weight: 200;
	color: #232323;
}
.content--home {
	height: 100vh;
	background-image: url(images/masha-big.jpg);
	background-repeat: no-repeat;
	background-position: center right;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 0;
}

@media screen and (max-width: 800px) {
	.content--home {
		background-size: auto 100vh;
    	background-position: right -320px center;
	}
}

.content--bio {
	padding: 60px 90px;
}
@media screen and (max-width: 880px) {
	.content--bio {
		padding: 0 20px;
	}
}
.page-title {
	font-family: "The Bold Font";
	color: white;
	font-size: 64px;
	text-shadow: 0 0 32px rgba(0, 0, 0, 0.3);
	transform: translate(190px, 0);
	transform-origin: top left;
	transition: all .6s cubic-bezier(0.215, 0.61, 0.355, 1);
	top: 0;
	z-index: 10;
}
@media screen and (max-width: 800px) {
	.page-title {
		transform: none;
		margin: auto;
	}
}
@media screen and (max-width: 400px) {
	.page-title {
		transform: scale(.7);
	}
}
.page-title--docked {
	transform: translate(10px, 0);
	position: fixed;
}
.page-title--small {
	transform: translate(10px, 10px) scale(0.2);
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.page-title--firstname {
	position: relative;
	display: inline-block;
	animation-name: firstname-in;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.page-title--small .page-title--firstname {
	cursor: pointer;			
}
.page-title--firstname::after {
	content: "";
	color: black;
	font-size: 200%;
	position: absolute;
	top: 11px;
	right: -100px;
	text-shadow: none;
	animation-name: basscleff-in;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	animation-fill-mode: backwards;
	transition: all .6s cubic-bezier(0.215, 0.61, 0.355, 1);
	cursor: default;
	font-family: sans-serif;
	height: 87px;
	width: 72px;
	background-image: url("images/bass-clef@3x.png");
	background-repeat: no-repeat;
	background-size: 100%;
}
.page-title--small .page-title--firstname::after {
	opacity: 0;
}
.page-title--lastname {
	color: #bb2a63;
	position: relative;
	left: 50px;
	top: -22px;
	display: inline-block;
	text-shadow: 0 4px 26px rgba(0,0,0,.4);
	transition: all .6s cubic-bezier(0.215, 0.61, 0.355, 1);
	animation-name: lastname-in;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.page-title--small .page-title--lastname {
	opacity: 0;
	pointer-events: none;
}
.page-title--description {
	color: white;
	opacity: 0.6;
	text-transform: lowercase;
	font-style: italic;
	font-family: "Avenir Next";
	font-weight: 200;
	font-size: 16px;
	position: absolute;
	top: calc(50% + 90px);
	left: 191px;
}
@media screen and (max-width: 400px) {
	.page-title--description {
		left: 20px;
	}
}
.translation {
	opacity: .4;
	margin-left: 6px;
	font-size: 0.8em;
	font-style: italic;
}
.description-line {
	animation-name: descriptionline-in;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	animation-fill-mode: both;
	margin: 0;
}
.description-line:nth-child(1) { animation-delay: .4s; }
.description-line:nth-child(2) { animation-delay: .5s; }
.description-line:nth-child(3) { animation-delay: .6s; }
.bio {
	display: grid;
	grid-template-columns: auto;
	grid-column-gap: 50px;
	font-size: 16px;
	line-height: 30px;
}
.bio__column {
	margin-top: 0;
}
.bio__column__p--endorsement {
	font-weight: bold;
}

@media screen and (min-width: 600px) {
	.bio {
		grid-template-columns: 1fr 1fr;
		grid-auto-flow: column;
	}
	.bio__column--first {
		grid-column: 1;
	}
	.bio__column--second {
		grid-column: 2;
	}
}

.content--npr {
	height: 600px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 10px;
	color: white;
	font-size: 46px;
	font-weight: 200;
	position: relative;
}
@media screen and (max-width: 1000px) {
	.content--npr {
		font-size: 24px;
	}
}
.content--npr::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(images/piano-background.jpg);
	background-repeat: no-repeat;
	background-position: center right;
	background-size: cover;
	z-index: -1;
	filter: brightness(.3);
}
.npr-quote {
	align-self: flex-end;
	grid-column: 1;
	margin: 0;
}
.npr-link {
	align-self: flex-start;
	grid-column: 1;
	font-size: 16px;
}
.npr-photo {
	grid-column: 2;
	grid-row: 1 / span 2;
	align-self: center;
	box-shadow: 0 10px 20px rgba(0,0,0,1);
	border-radius: 8px;
	max-width: 100%;
}
.awards-list {
	list-style: none;
	padding: 0;
}
.awards-list__item {
	font-size: 16px;
	padding: 22px;
	border-bottom: 1px solid rgba(0,0,0,.14);
	cursor: pointer;
	position: relative;
	transition: color .3s ease-out;
	perspective: 800px;
}
.awards-list__item__year {
	color: #a4a4a4;
	transition: color .3s ease-out;
}
.videos {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	max-width: 900px;
	margin: auto;
}
@media screen and (max-width: 880px) {
	.videos {
		grid-template-columns: 1fr;
	}
}
.video-item {
	margin-bottom: 20px;
	justify-self: center;
	max-width: calc(100% - 40px);
}
.video-thumb {
	width: 330px;
	height: 220px;
	max-width: 100%;
	background-repeat: no-repeat;
	background-size: 330px 220px;
	background-position: center;
	cursor: pointer;
	transition: all .1s ease-out;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
}
.video-thumb::before {
	/* "Play" button */
	content: "";
	display: block;
	background-color: #bb2a63;
	background-image: url(images/play.svg);
	background-position: center left 28px;
	background-repeat: no-repeat;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	background-size: 23%;
}
.video-thumb:hover {
	background-size: 363px 242px;
	box-shadow: 0 5px 20px 0 rgba(0,0,0,0.5);
}
.video-thumb--popper {
	background-image: url(images/video-thumb--popper.jpg);
}
.video-thumb--cellomagic {
	background-image: url(images/video-thumb--cellomagic.png);
}
.video-thumb--immigration1 {
	background-image: url(images/video-thumb--immigration1.jpg);
}
.video-thumb--immigration2 {
	background-image: url(images/video-thumb--immigration2.jpg);
}
.home-buttons {
	position: absolute;
	top: calc(100vh - 120px);
	right: 110px;
	height: 50px;
	width: 280px;
	white-space: nowrap;
}
@media screen and (max-width: 800px) {
	.home-buttons {
		right: unset;
		left: calc(50% - 140px);
	}
}
.home-button {
	border: 0;
	font-family: Roboto;
	font-weight: 700;
	font-size: 18px;
	color: #464646;
	background-color: #fff;
	height: 50px;
	width: 140px;
	border-radius: 50px;
	background-size: 28px;
	background-position: top 13px left 20px;
	background-repeat: no-repeat;
	padding-left: 37px;
	outline: none;
	cursor: pointer;
	transition: all .1s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.home-button--ghost {
	background-color: transparent;
	color: white;
	font-weight: 200;
	border: 1px solid transparent;
	background-size: 18px;
	background-position: top 14px left 30px;
	opacity: .8;
	padding-left: 0;
}
/* .home-button--ghost:hover {
	background-image: url(images/watch.svg);
	opacity: .9;
} */
.home-button--book {
	background-image: url(images/message.svg);
	box-shadow: 2px 2px 0px 0px #bb2a63;
}
.home-button--book:hover {
	transform: translate(-2px, -2px);
	box-shadow: 6px 6px 0px 0px #bb2a63;
}

.material-button {
	font-weight: bold;
	font-family: "Roboto";
	cursor: pointer;
	outline: none;
	transition: all .3s ease-out;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	text-transform: uppercase;
	border: none;
	border-radius: 14px;
}

.material-button:hover {
	box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}

.material-input {
	position: relative;
	margin-bottom: 2em;
}

.material-input label {
	position: absolute;
	top: .5em;
	left: 0;
	cursor: text;
	pointer-events: none;
	transition: all .3s cubic-bezier(0.03, 0.41, 0.18, 0.97);
	transform-origin: left center;
}

.material-input-error {
	color: #d81f16;
	font-size: 0.9em;
	margin-top: 0.5em;
	font-weight: bold;
	opacity: 0;
	transition: all .3s cubic-bezier(0.03, 0.41, 0.18, 0.97);
}

.contact-input:focus + label,
.contact-textarea:focus + label,
.contact-input.nonempty + label,
.contact-textarea.nonempty + label {
	transform: translateY(-1.7em) scale(0.8);
}

.validate .contact-input:invalid ~ .material-input-error,
.validate .contact-textarea:invalid ~ .material-input-error {
	opacity: 1;
}

@keyframes dim-to-full {
	from {
		opacity: .2;
	}
	to {
		opacity: 1;
	}
}

.contact-input {
	display: block;
	font-size: 1.1em;
	font-family: Roboto;
	background: transparent;
	border: none;
	border-bottom: 1px solid #e2e2e2;
	outline: none;
	width: 100%;
	height: 2em;
	max-width: 330px;
	padding: 0.3em 0;
	border-radius: 0;
}

.contact-textarea {
	height: 2em;
	width: 100%;
	max-width: 550px;
	font-family: Roboto;
	font-size: 1em;
	background: transparent;
	border: none;
	border-bottom: 1px solid #e2e2e2;
	outline: none;
	resize: none;
	transition: all .3s cubic-bezier(0.03, 0.41, 0.18, 0.97);
	border-radius: 0;
}

.contact-textarea:focus,
.contact-textarea.nonempty {
	height: 200px;
}

#contact-submit {
	background: #424242;
	display: block;
	margin: auto;
	margin-top: 4em;
	color: #e2e2e2;
	padding: 0.7em 1.2em;
	border-radius: 3px;
	width: 10em;
	height: 2.6em;
	position: relative;
}

#contact-submit:after {
	content: "";
	height: 18px;
	width: 18px;
	background-image: url(images/checkmark.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 18px;
	transition: all .3s cubic-bezier(0.03, 0.41, 0.18, 0.97);
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -9px;
	margin-top: -9px;
	opacity: 0;
}

#contact-submit.complete:after {
	opacity: 1;
}

@media screen and (min-width: 600px) {
	#contact-submit {
		margin: 0;
		margin-top: 4em;
	}
}

#contact-submit span {
	transition: all .3s cubic-bezier(0.03, 0.41, 0.18, 0.97);
	opacity: 1;
}

#contact-submit[disabled] span,
#contact-submit.complete span {
	opacity: 0;
}

.spinner {
	display: flex;
	opacity: 0;
	justify-content: center;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -5px;
	margin-left: -23px;
	transition: all .3s cubic-bezier(0.03, 0.41, 0.18, 0.97);
}

#contact-submit[disabled] .spinner {
	opacity: 1;
}

.spinner > div {
	width: 10px;
	height: 10px;
	background-color: white;
	border-radius: 100%;
	display: inline-block;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	margin-right: 0.4em;
}

.spinner > div:last-child {
	margin-right: 0;
}

.spinner .bounce1 {
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% { 
		transform: scale(0);
	}
	40% { 
		transform: scale(1.0);
	}
}

.form-submit-error {
	transition: all .3s cubic-bezier(0.03, 0.41, 0.18, 0.97);
	opacity: 0;
	pointer-events: none;
	margin-top: 1.2em;
	font-size: .9em;
}

.form-submit-error.visible {
	opacity: 1;
	pointer-events: all;
}

@keyframes scale-up-horiz {
	from { transform: translateZ(-10000px); opacity: 0; }
	to { transform: none; opacity: 1; }
}

.awards-list__item__bar {
	background: #bb2a63;
	height: 20%;
	width: 100%;
	position: absolute;
	left: 0;
	transform-origin: left center;
	animation-duration: .3s;
	animation-fill-mode: forwards;
	z-index: -1;
	transform: translateZ(-10000px);
	opacity: 0;
}
.awards-list__item__bar--1 {
	top: 0;
	animation-delay: 0;
}
.awards-list__item__bar--2 {
	top: 20%;
	animation-delay: .05s;
}
.awards-list__item__bar--3 {
	top: 40%;
	animation-delay: .1s;
}
.awards-list__item__bar--4 {
	top: 60%;
	animation-delay: .15s;
}
.awards-list__item__bar--5 {
	top: 80%;
	animation-delay: .2s;
}
.awards-list__item:hover {
	color: white;
}
.awards-list__item__year:hover {
	color: white;
}
.awards-list__item:hover .awards-list__item__bar {
	animation-name: scale-up-horiz;
}