@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

@font-face {
	font-family: "The Bold Font";
	src: url("fonts/theboldfont.woff2") format("woff2"),
			url("fonts/theboldfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
@keyframes firstname-in {
	from { opacity: 0; transform: translateX(-20px); }
	to { opacity: 1; transform: none; }
}
@keyframes lastname-in {
	from { opacity: 0; transform: translateX(20px); }
	to { opacity: 1; transform: none; }
}
@keyframes basscleff-in {
	from { opacity: 0; transform: translateX(-10px); }
	to { opacity: 1; transform: none; }
}
@keyframes descriptionline-in {
	from { opacity: 0; transform: translateX(-10px); }
	to { opacity: 1; transform: none; }
}
body {
	margin: 0;
	font-family: Roboto;
	color: #464646;
	display: flex;
	flex-direction: column;
}
a {
	color: inherit;
	text-decoration: none;
}
.navbar {
	background: black;
	height: 36px;
	transition: all .5s cubic-bezier(0.215, 0.61, 0.355, 1);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}
.external-link span {
	vertical-align: middle;
}
.external-link::before {
	content: '';
	display: inline-block;
	background-image: url("images/external-link.svg");
	vertical-align: middle;
	height: 1em;
	width: 1em;
	margin-right: .4em;
}
.navbar--hidden {
	opacity: 0;
	height: 0;
	pointer-events: none;
}
.content {
	padding: 0 90px;
	color: #676767;
}
.content__title {
	font-weight: 200;
	color: #232323;
}
.content--home {
	height: 100vh;
	background-image: url(images/masha-big.jpg);
	background-repeat: no-repeat;
	background-position: center right;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 0;
}
.content--bio {
	padding: 60px 90px;
}
.page-title {
	font-family: "The Bold Font";
	color: white;
	font-size: 64px;
	text-shadow: 0 0 32px rgba(0, 0, 0, 0.3);
	transform: translate(190px, 0);
	transform-origin: top left;
	transition: all .6s cubic-bezier(0.215, 0.61, 0.355, 1);
	top: 0;
	z-index: 10;
}
.page-title--docked {
	transform: translate(10px, 0);
	position: fixed;
}
.page-title--small {
	transform: translate(10px, 10px) scale(0.2);
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.page-title--firstname {
	position: relative;
	display: inline-block;
	animation-name: firstname-in;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.page-title--small .page-title--firstname {
	cursor: pointer;			
}
.page-title--firstname::after {
	content: "";
	color: black;
	font-size: 200%;
	position: absolute;
	top: 11px;
	right: -100px;
	text-shadow: none;
	animation-name: basscleff-in;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	animation-fill-mode: backwards;
	transition: all .6s cubic-bezier(0.215, 0.61, 0.355, 1);
	cursor: default;
	font-family: sans-serif;
	height: 87px;
	width: 72px;
	background-image: url("images/bass-clef@3x.png");
	background-repeat: no-repeat;
	background-size: 100%;
}
.page-title--small .page-title--firstname::after {
	opacity: 0;
}
.page-title--lastname {
	color: #bb2a63;
	position: relative;
	left: 50px;
	top: -22px;
	display: inline-block;
	text-shadow: 0 4px 26px rgba(0,0,0,.4);
	transition: all .6s cubic-bezier(0.215, 0.61, 0.355, 1);
	animation-name: lastname-in;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.page-title--small .page-title--lastname {
	opacity: 0;
	pointer-events: none;
}
.page-title--description {
	color: white;
	opacity: 0.6;
	text-transform: lowercase;
	font-style: italic;
	font-family: "Avenir Next";
	font-weight: 200;
	font-size: 16px;
	position: absolute;
	top: calc(50% + 90px);
	left: 191px;
}
.translation {
	opacity: .4;
	margin-left: 6px;
	font-size: 0.8em;
	font-style: italic;
}
.description-line {
	animation-name: descriptionline-in;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	animation-fill-mode: both;
	margin: 0;
}
.description-line:nth-child(1) { animation-delay: .4s; }
.description-line:nth-child(2) { animation-delay: .5s; }
.description-line:nth-child(3) { animation-delay: .6s; }
.bio {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 50px;
	font-size: 16px;
	line-height: 30px;
}
.bio__p {
	margin-top: 0;
}
.bio__p--first {
	grid-column: 1;
}
.bio__p--second {
	grid-column: 2;
}
.bio__p--endorsement {
	font-weight: bold;
	grid-column: 2;
}
.content--npr {
	height: 600px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	color: white;
	font-size: 46px;
	font-weight: 200;
	position: relative;
}
.content--npr::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(images/piano-background.jpg);
	background-repeat: no-repeat;
	background-position: center right;
	background-size: cover;
	z-index: -1;
	filter: brightness(.3);
}
.npr-quote {
	align-self: flex-end;
	grid-column: 1;
	margin: 0;
}
.npr-link {
	align-self: flex-start;
	grid-column: 1;
	font-size: 16px;
}
.npr-photo {
	grid-column: 2;
	grid-row: 1 / span 2;
	align-self: center;
	box-shadow: 0 10px 20px rgba(0,0,0,1);
	border-radius: 8px;
}
.awards-list {
	list-style: none;
}
.awards-list__item {
	font-size: 19px;
	padding: 22px;
	border-bottom: 1px solid rgba(0,0,0,.14);
}
.awards-list__item__year {
	color: #a4a4a4;
}
.videos {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	max-width: 900px;
	margin: auto;
}
@media screen and (max-width: 880px) {
	.videos {
		grid-template-columns: 1fr;
	}
}
.video-item {
	margin-bottom: 20px;
	justify-self: center;
}
.video-thumb {
	width: 330px;
	height: 220px;
	background-repeat: no-repeat;
	background-size: 330px 220px;
	background-position: center;
	cursor: pointer;
	transition: all .1s ease-out;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
}
.video-thumb::before {
	/* "Play" button */
	content: "";
	display: block;
	background-color: #bb2a63;
	background-image: url(images/play.svg);
	background-position: center left 28px;
	background-repeat: no-repeat;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	background-size: 23%;
}
.video-thumb:hover {
	background-size: 363px 242px;
	box-shadow: 0 5px 20px 0 rgba(0,0,0,0.5);
}
.video-thumb--popper {
	background-image: url(images/video-thumb--popper.jpg);
}
.video-thumb--cellomagic {
	background-image: url(images/video-thumb--cellomagic.png);
}
.video-thumb--immigration1 {
	background-image: url(images/video-thumb--immigration1.jpg);
}
.video-thumb--immigration2 {
	background-image: url(images/video-thumb--immigration2.jpg);
}
.home-buttons {
	position: absolute;
	top: calc(100vh - 50px);
	left: calc(50% - 75px);
	height: 50px;
	width: 150px;
}
.home-button {
	background: transparent;
	border: 0;
	border-radius: 3px;
	font-family: Roboto;
	font-size: 18px;
	color: white;
}